.footer {
  background-color: var(--dark-color);
  width: 100%;
  height: auto;

  padding-top: 16.4rem;
  padding-bottom: 10rem;
  color: var(--secondary-color-light);
}

.footer_main {
  display: grid;
  justify-items: center;
}
.footer_main h3 {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 2.4rem;
}

.footer_c_name:link,
.footer_c_name:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--tertiary-color-dark);
}

.footer_main_first_cont {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4rem;
  margin-bottom: 3.5rem;
}

.footer_btn:link,
.footer_btn:visited {
  text-decoration: none;
  color: var(--secondary-color-light);
}

.footer_main_second_cont {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-bottom: 2.3rem;
}
.footer_main_second_cont li {
  height: 4.6rem;
  width: 4.6rem;
  background-color: var(--tertiary-color-dark);
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
}

@media (max-width: 44em) {
  .footer_main_first_cont {
    column-gap: 1rem;
  }
}
